[submodule "service.stay.alive"]
	path = service.stay.alive
	url = C:/Users/pk/PycharmProjects/vonsagar_kodi/service.stay.alive/
[submodule "plugin.video.fullmatchtv"]
	path = plugin.video.fullmatchtv
	url = C:/Users/pk/PycharmProjects/vonsagar_kodi/plugin.video.fullmatchtv
	branch = master
[submodule "plugin.video.seren"]
	path = plugin.video.seren
	url = C:/Users/pk/PycharmProjects/vonsagar_kodi/plugin.video.seren
	branch = master
[submodule "service.autosubs"]
	path = service.autosubs
	url = C:/Users/pk/PycharmProjects/vonsagar_kodi/service.autosubs
	branch = Frodo
[submodule "xbmc"]
	path = xbmc
	url = C:/Users/pk/PycharmProjects/vonsagar_kodi/xbmc
	branch = master
[submodule "service.subloader"]
	path = service.subloader
	url = C:/Users/pk/PycharmProjects/vonsagar_kodi/service.subloader
	branch = master
[submodule "plugin.video.fanfilm"]
	path = plugin.video.fanfilm
	url = C:/Users/pk/PycharmProjects/vonsagar_kodi/plugin.video.fanfilm
	branch = master
