[submodule "plugin.video.fullmatchtv"]
	path = plugin.video.fullmatchtv
	url = git@github.com:vonsagar/plugin.video.fullmatchtv
	branch = master
[submodule "plugin.video.seren"]
	path = plugin.video.seren
	url = git@github.com:vonsagar/plugin.video.seren
	branch = master
[submodule "service.autosubs"]
	path = service.autosubs
	url = git@github.com:vonsagar/service.autosubs
	branch = Frodo
[submodule "service.subloader"]
	path = service.subloader
	url = git@github.com:vonsagar/service.subloader
	branch = master
[submodule "plugin.video.fanfilm"]
	path = plugin.video.fanfilm
	url = git@github.com:vonsagar/plugin.video.fanfilm
	branch = master
[submodule "repository.vonsagar"]
	path = repository.vonsagar
	url = git@github.com:vonsagar/repository.vonsagar
	branch = master
[submodule "CoreELEC"]
	path = CoreELEC
	url = git@github.com:vonsagar/CoreELEC
	branch = coreelec-19
[submodule "plugin.video.cdapl"]
	path = plugin.video.cdapl
	url = git@github.com:vonsagar/plugin.video.cdapl
	branch = master
[submodule "xbmc"]
	path = xbmc
	url = git@github.com:vonsagar/xbmc.git
	branch = Leia
